.left-panel-body-container {
  width: 100%;
}

.weather-text {
  font-size: 7rem;
  color: #30475e;
}

.forecast-text {
  font-size: 6rem;
  color: #bbbbbb;
}

.ng-select-style {
  width: 35%;
}

@media screen and (max-width: 540px) {
  .weather-text {
    font-size: 3rem;
  }

  .forecast-text {
    font-size: 2rem;
  }

  .ng-select-style {
    width: 50%;
  }

}