@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #f5f4f4;
  font-family: 'Noto Sans JP', sans-serif;
}

.wi {
  color: #30475e;
}

:disabled {
  cursor: not-allowed;
}