<app-general-weather-info
  [weatherInfo]="formattedWeatherResponse.generalInfo"
  *ngIf="isCurrentWeatherDataFetched">
</app-general-weather-info>
<app-other-weather-stats
  [stats]="formattedWeatherResponse.stats"
  *ngIf="isCurrentWeatherDataFetched">
</app-other-weather-stats>
<div class="d-flex flex-row justify-content-center mt-1">
  <p><strong class="past-forecast">Past 5 Days Forecast</strong></p>
</div>
<app-past-days-forecast
  [pastDaysForecastData]="formattedPastWeatherResponse"
  *ngIf="isHistoricalWeatherDataFetched">
</app-past-days-forecast>